<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src = '/socket.io/socket.io.js'></script>
</head>
<body>
    <input id = 'mokytojas' type = 'text' placeholder = 'mokytojas' style = 'width: 200px; margin-bottom: 20px'>
    <input id = 'perliukas' type = 'text' placeholder = 'perliukas' style = 'width: 1000px; height: 100px;'>
    <input id = 'input' type = 'submit' value = 'send' style = 'width: 100px; height: 100px; margin-top: 20px'>
<script src = "../input.js"></script>
</body>
</html>